* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}


header {
  height: 75px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* Ubah position ke fixed, dan top ke 0 */
  position: fixed;
  top: 0;
  /* Ubah z-index ke 10 */
  z-index: 100;
}

.logo {
  top: 10px;
  width: 50px;
  margin: 0 auto;
  position: fixed;
}

.header-left {
  float: left;
}

.header-label{
  float: right;
  height: 200px;
  padding: 10px 15px 10px 30px;
}

li {
  list-style: none;
}

li a{
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.header-list li {
  float: left;
  padding: 10px 15px 10px 30px;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 150px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.footer.left{
  float: left;
}

.footer-logo {
  margin: 0 auto;
  float: left;
  width: 100px;
  padding: 15px 20px 15px 20px;

}

.footer-right{
  float : right;
}

.footer-right p{
  margin-top: 50px;
  margin-right: 100px;
  color: white;
}
.btn-contacts{
 float: right;
 margin-right: -130px;
 margin-top: 80px;
}

.contact-icon a{
  margin-right: 20px;
}


.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("https://medias.infia.co/news/images/2019/05/23/2019-05-23-17-18-25-061993.jpg");
  background-size: cover;
  color:white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  font-weight:bold;
}
